<mat-card>
  <mat-card-content>
    <div [formGroup]="loginForm" *ngIf="toggle">
      <h2>Sign In</h2>
      <mat-error *ngIf="logInError">
        {{logInError}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="loginEmail()">Login</button>
        <button mat-raised-button color="primary" (click)="login()">Login with Google</button>
        <button mat-raised-button color="accent" (click)="onToggle()">Sign Up</button>
      </div>
    </div>

    <div [formGroup]="createUserForm" *ngIf="!toggle">
      <h2>Sign Up</h2>
      <mat-error *ngIf="signUpError">
        {{signUpError}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
        <button mat-raised-button color="accent" (click)="onToggle()">Sign In</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
