<div class="card card__projects" [ngStyle]="style">
  <div class="task-card__wrapper">
    <div>
      <h3 class="task-name">{{ task.title }}</h3>
      <h4 class="details"><strong>Status: </strong> {{ task.details.status }}</h4>
      <h4 class="details">
        <strong>Priority: </strong> {{ task.details.priority }}
      </h4>
      <h4 class="details">
        <strong>Resolution: </strong> {{ task.details.resolution }}
      </h4>
      <h4 class="details"><strong>Deadline: </strong>{{task.date.dueDate|date}}</h4>
      <h4 class="details"><strong>Created by: </strong>{{task.creatorName}}</h4>
      <h4 *ngIf="task.assignedTo" class="details">
        <strong>Assigned to: </strong>{{task.assignedTo.username}}
      </h4>
    </div>
    <div class="task-card__btn">
      <button
        class="btn-delete"
        mat-icon-button
        aria-label="delete icon"
        (click)="delete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
      class="btn-edit"
        routerLink="../task/{{task.id}}"
        mat-icon-button
        aria-label="edit icon"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>






