<ng-content></ng-content>
<div class="task-wrapper" cdkDropListGroup>
  <app-board
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListConnectedTo]="[inProgressList]"
    [cdkDropListConnectedTo]="[inReviewList]"
    [cdkDropListConnectedTo]="[doneList]"
    [board]="todoBoard"
    [cdkDropListData]="todoBoard.items"
    (cdkDropListDropped)="drop($event)"
  ></app-board>
  <app-board
    [board]="inProgressBoard"
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListConnectedTo]="[todoList]"
    [cdkDropListConnectedTo]="[inReviewList]"
    [cdkDropListConnectedTo]="[doneList]"
    [cdkDropListData]="inProgressBoard.items"
    (cdkDropListDropped)="drop($event)"
  ></app-board>
  <app-board
    [board]="inReviewBoard"
    cdkDropList
    #inReviewList="cdkDropList"
    [cdkDropListConnectedTo]="[todoList]"
    [cdkDropListConnectedTo]="[inProgressList]"
    [cdkDropListConnectedTo]="[doneList]"
    [cdkDropListData]="inReviewBoard.items"
    (cdkDropListDropped)="drop($event)"
  ></app-board>
  <app-board
    [board]="doneBoard"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListConnectedTo]="[todoList]"
    [cdkDropListConnectedTo]="[inProgressList]"
    [cdkDropListConnectedTo]="[inReviewList]"
    [cdkDropListData]="doneBoard.items"
    (cdkDropListDropped)="drop($event)"
  ></app-board>
</div>
