.nav-menu {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.fill-remaining-space {
  width: 75%;
}
.logo {
  margin: 0 2%;
}
.close-btn {
  margin: 5%;
}

.add-btn {
  margin-right: 20px;
  // font-size:;
  // background-color: rgb(68, 68, 255);
  // color: white;
}

.logout-btn {
  // background-color: lightgray;
  margin: 0 2%;
}

.filter-toggle {
  font-size: 14px;
}