<div class="wrapper">
  <mat-sidenav-container class="panel__main">
    <mat-sidenav-content>
      <mat-toolbar>
        <span class="logo">JIRA-CLONE</span>
        <button mat-stroked-button class="add-btn" (click)="openDialog()">
          <mat-icon>add_box</mat-icon>
        </button>
        <div>
          <mat-slide-toggle color="primary" (change)="toggleOnlyMyIssues()">Only my issues</mat-slide-toggle>
        </div>
        <span class="fill-remaining-space"></span>
        <button mat-stroked-button class="logout-btn" (click)="logOut()">
          LogOut
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>