h1,
h2,
h4 {
  color: black;
}
.task-detail__container {
  margin: 5% auto;
  width: 80%;
}

button {
  margin: 20px 10px;
}

.assign-task__wrapper {
  h4 {
    color: black;
  }
}

.description__container {
  mat-form-field {
    margin: 0 4% 0 0;
  }
}

.full-width-input {
  display: block;
}

.details {
  display: flex;
  justify-content: left;

  mat-form-field {
    margin-right: 20px;
  }
}